.page-ground{
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page{
  width: 100%;
  height: 100%;
}
.photo-thumbnail-wrap{
  width: 100%;
  height: 100%;
}
.photo-thumbnail-wrap .item{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  background-color: #fff;
}
.photo-thumbnail-wrap .item img{
  width: 100%;
  height: 100%;
}
.photo-thumbnail-wrap .item p{
  
}
