div{
  box-sizing: border-box;
}
.hidden{
	display: none;
}
.visible{
	display: block;
}
.overlay{ /*用于遮挡背景*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 333;
  background-color: rgba(0,0,0,.6);
}
.swiper-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 334;
}
/*.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
}
.swiper-wrapper .swiper-slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
	width: 100%;
}*/
.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
}
.swiper-wrapper .swiper-slide{
  position: absolute;

  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
}
.swiper-wrapper .swiper-slide img{
  max-width: 100%;
  max-height: 100%;
}
/*.swiper-wrapper:after{
  content:"."; 
  height:0; 
  visibility:hidden; 
  display:block;
  clear:both; 
}*/
.close{
	position: absolute;
	top: 8px;
	right: 22px;
	z-index: 335;

  width: 22px;
  height: 22px;
  background: url(../img/close.png) center center no-repeat;            
  background-size: cover;
}
.close:after{
	position: absolute;
	content: "";

	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
}
.page-num{
  position: absolute;
  top: 0;
  z-index: 336;

  width: 100%;
  height: 40px;
  line-height: 40px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0,0,0,0.3);
}

